**Scraping whole table at a time**

In [38]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import csv
import os
from time import sleep
from random import randint
import numpy as np

headers = dict()
headers[
    "User-Agent"
] = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36"


def data_table():
  newurl = 'https://www.worldometers.info/coronavirus/'
  resp = requests.get(newurl, headers = headers) # send a get request to the url, get response
  soup = BeautifulSoup(resp.text, 'html5lib') # Yummy HTML soup
  table = soup.find('table', {"class": "main_table_countries"}) # get the table from html
  trs = table.findAll('tr') # extract all rows of the table
  if len(trs[1:])!=0:
    csv_filename = 'Corona Virus.csv'
    if os.path.exists(csv_filename): os.remove(csv_filename) # remove the file it already exists, can result in data duplicacy
    with open(csv_filename, 'a') as f:
      writer = csv.writer(f)
      columns = [th.text for th in trs[0].findChildren('th')]					
      writer.writerow(columns)
      for tr in trs[1:]:
        row = []
        tds = tr.findChildren('td')
        for td in tds:
          span = td.findChildren('span', {'id':'Regular_season'})
          if span:
            row.append(span[0].text.strip())
          else:
            row.append(td.text.strip())
        assert len(row) == len(columns)
        writer.writerow(row)
data_table()

In [41]:
df = pd.read_csv('/content/Corona Virus.csv')
df

      #  Country,Other  ... 1 Deathevery X ppl 1 Testevery X ppl
0   NaN  North America  ...                NaN               NaN
1   NaN           Asia  ...                NaN               NaN
2   NaN  South America  ...                NaN               NaN
3   NaN         Europe  ...                NaN               NaN
4   NaN         Africa  ...                NaN               NaN
..   ..            ...  ...                ...               ...
232 NaN         Total:  ...                NaN               NaN
233 NaN         Total:  ...                NaN               NaN
234 NaN         Total:  ...                NaN               NaN
235 NaN         Total:  ...                NaN               NaN
236 NaN         Total:  ...                NaN               NaN

[237 rows x 19 columns]

**Scraping Only Specific Columns**

In [46]:

newurl = 'https://www.worldometers.info/coronavirus/'
resp = requests.get(newurl) # send a get request to the url, get response
soup = BeautifulSoup(resp.text, 'html5lib') # Yummy HTML soup
table = soup.find('table', {"class": "main_table_countries"}) # get the table from html

data_col = pd.DataFrame(columns=['Country', 'Total Cases',	'New Cases',	'Total Deaths', 'New Deaths'])

for row in table.tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        Country = col[1].text.strip()
        Total_Cases = col[2].text.strip()
        New_Cases = col[3].text.strip()
        Total_Deaths = col[4].text.strip()
        New_Deaths = col[5].text.strip()
        data_col = data_col.append({"Country":Country, "Total Cases":Total_Cases, 
                                    "New Casses":New_Cases, "Total Deaths":Total_Deaths, 
                                    "New Deaths":New_Deaths}, ignore_index=True)
data_col.to_csv('Corona Data.csv', index = False)
data_col.head()

         Country Total Cases New Cases Total Deaths New Deaths New Casses
0  North America  37,380,822       NaN      846,587       +686    +21,652
1           Asia  33,781,384       NaN      467,260     +2,999   +396,184
2  South America  23,315,120       NaN      620,770       +131     +8,555
3         Europe  42,800,733       NaN      975,288     +1,905    +85,687
4         Africa   4,461,772       NaN      117,994        +44     +2,496

**We scrap 7 Specific columns here. In this method, we can select which columns we need from the table**

**Scraping Multiple pages(page by page)**

In [ ]:
pip install requests_html

**Scraping Multiple pages with oncurrent features**

In [75]:
%%time
import pandas as pd
import requests
from bs4 import BeautifulSoup
from random import randint
from time import sleep  
import concurrent.futures
from multiprocessing.dummy import Pool as ThreadPool
from csv import reader
from sqlalchemy import create_engine
import sqlite3

conn = sqlite3.connect('PGCB.db')
c = conn.cursor()
base_url = "https://web.pgcb.gov.bd/view_generations_bn?page="

all_urls = []
ress =[]
Date = []
Time = []
Produced = []
Demand = []
Depriciation = []

def generate_urls():
  for i in range(1,100):
    all_urls.append(base_url + str(i))
    #time.sleep(0.15)
generate_urls()
def scrape(url):
  #for url in all_urls:
  sleep(randint(1,3))
  result = requests.get(url)
  sleep(randint(1,7))
  soup = BeautifulSoup(result.content, 'html.parser')
  tab = soup.find_all('table', class_ = 'table table-bordered')
  sleep(randint(1,3))
  for tabi in tab:
    for row in tabi.tbody.find_all("tr"):
      col = row.find_all("td")
      if (col != []):
        date = col[0].text
        time = col[1].text
        produced = col[2].text.strip()
        demand = col[3].text.strip()
        depriciation = col[4].text.strip()

        Date.append(date)
        Time.append(time)
        Produced.append(produced)
        Demand.append(demand)
        Depriciation.append(depriciation)

  data_df = pd.DataFrame({"Date":Date, "Time":Time, "Produced":Produced, "Demand":Demand, "Depriciation":Depriciation})  
  data_df.to_csv('Data Multiple Page.csv', index = False)
  #df.to_sql('Data', conn, if_exists='replace', index = False )
  print('Completed:', url)

with concurrent.futures.ThreadPoolExecutor(max_workers=15) as executor:
  executor.map(scrape, all_urls)

Completed: https://web.pgcb.gov.bd/view_generations_bn?page=1
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=8
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=2
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=10
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=6
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=4
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=5
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=9
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=7
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=11
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=15
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=13
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=3
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=12
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=14
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=16
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=25
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=17
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=18
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=21
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=28
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=30
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=20
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=27
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=23
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=26
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=24
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=19
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=31
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=34
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=29
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=35
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=36
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=32
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=38
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=33
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=40
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=45
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=39
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=37
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=42
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=41
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=44
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=53
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=43
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=46
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=50
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=47
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=48
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=49
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=52
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=51
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=55
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=54
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=60
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=56
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=57
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=58
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=59
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=66
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=61
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=65
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=62
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=67
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=69
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=63
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=71
Completed:Completed: https://web.pgcb.gov.bd/view_generations_bn?page=74
 https://web.pgcb.gov.bd/view_generations_bn?page=68
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=72
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=73
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=79
Completed: Completed: https://web.pgcb.gov.bd/view_generations_bn?page=80
https://web.pgcb.gov.bd/view_generations_bn?page=78
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=70
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=77
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=81
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=76
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=83
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=75
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=87
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=86
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=84
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=82
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=85
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=93
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=91
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=90
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=92
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=88
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=97
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=89
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=96
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=94
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=98
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=99
Completed: https://web.pgcb.gov.bd/view_generations_bn?page=95
CPU times: user 10.1 s, sys: 389 ms, total: 10.4 s
Wall time: 1min 15s

**With Concurrent Features this takes us only 1 min and 15 sec, to scrap all 100 pages**

In [77]:
df = pd.read_csv('/content/Data Multiple Page.csv')
df

            Date      Time Produced Demand Depriciation
0     ১৮-০৪-২০২১  ২১:০০:০০    ১২৬৬১  ১২৬৬১         ০.০০
1     ১৮-০৪-২০২১  ২০:০০:০০    ১২৪৫১  ১২৪৫১         ০.০০
2     ১৮-০৪-২০২১  ১৯:৩০:০০    ১২৩৯৮  ১২৩৯৮         ০.০০
3     ১৮-০৪-২০২১  ১৯:০০:০০    ১১৮০৩  ১১৮০৩         ০.০০
4     ১৮-০৪-২০২১  ১৮:০০:০০    ১০১৮২  ১০১৮২         ০.০০
...          ...       ...      ...    ...          ...
5044  ০৭-১০-২০২০  ০৪:০০:০০     ৯৬৩৭   ৯৬৩৭         ০.০০
5045  ০৭-১০-২০২০  ০৩:০০:০০     ৯৯২২   ৯৯২২         ০.০০
5046  ০৭-১০-২০২০  ০২:০০:০০    ১০১৬২  ১০১৬২         ০.০০
5047  ০৭-১০-২০২০  ০১:০০:০০    ১০৬০০  ১০৬০০         ০.০০
5048  ০৬-১০-২০২০  ২৪:০০:০০    ১১১১৫  ১১১১৫         ০.০০

[5049 rows x 5 columns]

**Translating the data from Bengali to English**

In [80]:

df = pd.read_csv('/content/Data Multiple Page.csv')

# creating dictionary for translation table 
trans_dict ={"০":"0","১": "1", "২": "2", "৩": "3", "৪":"4", "৫":"5","৬":"6","৭":"7","৮":"8","৯":"9"} 
  
# creating translate table from dictionary 
trans_table ="০১২৩৪৫৬৭৮৯".maketrans(trans_dict) 
  
# translating through passed transtable 
df['Produced']= df['Produced'].str.translate(trans_table)
df['Date'] = df['Date'].str.translate(trans_table)
df['Time'] = df['Time'].str.translate(trans_table)
df['Demand'] = df['Demand'].str.translate(trans_table)
df['Depriciation'] = df['Depriciation'].str.translate(trans_table)
df.to_csv('Data(Multiple Pages).csv', index = False )
df.head()

         Date      Time Produced Demand Depriciation
0  18-04-2021  21:00:00    12661  12661         0.00
1  18-04-2021  20:00:00    12451  12451         0.00
2  18-04-2021  19:30:00    12398  12398         0.00
3  18-04-2021  19:00:00    11803  11803         0.00
4  18-04-2021  18:00:00    10182  10182         0.00